#tagFood{
	display:inline-block;
	padding-left : 0px;
	font-style: italic;
        margin : 0px;
}

li.tag{
	display:inline-block;
	border:1px solid rgba(0,0,0,0.05);
	background-color:rgba(0,0,0,0.05);
	padding:2px;
	margin:2px;
	border-radius: 2px;
}

li.tag:hover{
	border-width:1px;
	border-style : solid;
	border-color : #bbb;
	background-color:rgba(0,0,0,0.1);	
}

span.tag{
	color:rgb(255,50,50);
	
}

div.card{
    position : relative;
    width:180px;
    height : 250px;
    float:left;
    padding:10px;
    margin : 10px;
    background-color : var(--fondC);
    box-shadow: 1px 1px 4px #bbb;
}

div.description{
    position : relative;
    left: 50px;
}

div.photoCard>img{
    
    position : relative;
    top:-10px;
    left : -10px;
    max-width : 200px;
    max-height: 140px;
    
}


div.descrCard{
    position : relative;
    top:0px;
}
div.tagCard{
    position:absolute;
    bottom:10px;
    width : 180px;
    text-align: right;
}

#galerie{
	margin-top : 0px;
	margin-bottom : 20px;
	padding-left : 0px;
	background-color : rgb(250,250,250);
}

#galerie li{
	display : inline-block;
}


img.galerie{
	border:1px solid rgb(239,239,239);
}

#note {
    float : right;
    
}

#corps>a:link, #corps>a:visited {
    background-color: #ffffff;
    color: var(--coulA1);
    font-weight: bold;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#corps>a:hover, #corps>a:active {
    background-color: var(--coulA1);
    color: #ffffff;
}

a.textAlignRight {
    position: relative;
    float: right;
}

a.style:link, a.style:visited {
    color: var(--coulA1);
    font-weight: bold;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.style:hover, a.style:active {
    background-color: var(--coulA1);
    color: #ffffff;
}

table.bordertable {
    width: 100%;
}

table.bordertable, table.bordertable th, table.bordertable td {
    padding: 15px;
}

table.bordertable th {
    text-align: left;
    background-color: var(--coulA1);
    color: #eeeeee;
}

table.bordertable tr:nth-child(even)
{
    background-color: #e2e2e2;
}

fieldset.border{
    border: 0;
}

.error
{
    text-align: center;
    color: red;
}
