

.display-column{
    position:relative;
    display:flex;
    flex-direction:column;
    margin: 0 auto;
}

.display-row{
    position:relative;
    display:flex;
    flex-direction:row;
}



input[type=text],button[type=submit],input[type=password],input[type=checkbox],input[type=email],select,option{
    padding : 5px;
    margin : 5px;
}

label{
    padding-right : 25px;
    
}

input[type=text],input[type=password],input[type=email]{
    width : 200px;
}

#commentaireForm{
    width : 100%;
    height : 70px;
}

button[type=submit]
{
    background-color: var(--coulA1);
    color: white;
}

button[type=submit]:active
{
    background-color: white;
    color: var(--coulA1);
}
